<%- include('../partials/header.ejs') -%>

<h1>All Flights</h1>

<table>
    <tr>
    <td class='head-row'>Airline</td>
    <td class='head-row'>Airport</td>
    <td class='head-row'>Flight Number</td>
    <td class='head-row'>Departure Date</td>
</tr>
<br>
<% let todayDate = new Date() %>
<% flights.forEach(f => { %>
<tr style='color:<%= f.departs < todayDate ? 'red' : 'black' %>'>
    <td><%= f.airline %></td>
    <td><%= f.airport %></td>
    <td><%= f.flightNo %></td>
    <td><%= f.departs.toLocaleDateString() %></td>
</tr>
<br>
<% }) %>
</table>

<form action='/flights/index-asc' method='Get'>
<button type='submit'>Ascending Order</button>
</form>
<form action='/flights/index-desc' method='Get'>
<button type='submit'>Descending Order</button>
</form>

<%- include('../partials/footer.ejs') -%>