<%- include('../partials/header.ejs') -%>
    <h1>All Mong00se Flights</h1>
    <table>
        <th>
            <tr>
                <td class='head-row'>Airline</td>
                <td class='head-row'>Airport</td>
                <td class='head-row'>Flight Number</td>
                <td class='head-row'>Departure Date</td>
            </tr>
        </th>

        <% let todayDate=new Date() %>
            <% flights.forEach(f=> { %>
                <tr style='color:<%= f.departs < todayDate ? ' red' : 'black' %>' class='flight-index'>
                    <td>
                        <%= f.airline %>
                    </td>
                    <td>
                        <%= f.airport %>
                    </td>
                    <td name='flightNo'>
                        <%= f.flightNo %>
                    </td>
                    <td>
                        <%= f.departs.toLocaleDateString() %>
                    </td>
                    <td><a href='/flights/<%= f._id %>' class='more-details'>More Details</a></td>
                </tr>
                <% }) %>
    </table>

    <section id='sort-by'>
        <form action='/flights' method='GET'>
            <label>Sort by Date:
                <select name="sort">
                    <option value="asc" type='submit'>Ascending</option>
                    <option value="desc" type='submit'>Descending</option>
                </select>
            </label>
            <button type='submit'>Sort</button>
        </form>
    </section>

    <%- include('../partials/footer.ejs') -%>