<%- include('../partials/header.ejs') -%>

<h1>Details for Flight # <%= flight.flightNo %></h1>

<h3>Airline: <%= flight.airline %> </h3>
<h3>Departure Airport: <%= flight.airport %> </h3>
<h3>Departure Date: <%= flight.departs.toLocaleDateString() %> </h3>
<h3>Flight Destinations:</h3>
<% if (flight.destinations.length) { %>
     <table>
        <thead>
        <tr>
             <td>Airport</td>
             <td>Arrival Date</td>
        </tr>
        </thead> 
        <tbody>
            <% flight.destinations.forEach(arr => { %>
                
                <tr>
                    <td><%= arr.airport %>  </td>
                    <td><%= arr.arrival.toLocaleString() %>  </td>
                </tr>
           <% }); %> 
        </tbody>
     </table>
     <% } else { %>
        <h5>No Destinations Listed</h5>
    <% } %> 
<hr>

<% const airportOpts = ['AUS', 'DFW', 'DEN', 'LAX', 'SAN'] %>

<form action='/flights/<%= flight.flightNo %>/arrivals' method='POST'>
    <h3>Add a Flight Destination</h3>
    <label>Airport:
        <select name='airport'>
            <option>--</option>
            <% airportOpts.forEach(airport => { %>
                <% if (flight.destinations.length) {
                    if (flight.destinations.some(dest => dest.airport === airport)) return; }%> 
            <option value='<% airport %>'><%-`${airport}`%></option> 
            <% }); %> 
            <!-- <option value='AUS'>AUS</option>
            <option value='DFW'>DFW</option>
            <option value='DEN'>DEN</option>
            <option value='LAX'>LAX</option>
            <option value='SAN'>SAN</option> -->
        </select>
    </label>
    <label>Arrival Date:
        <input type='datetime-local' name='arrival' value='<%=new Date()%>'>
    </label>
    <button type='submit'>Add Destination</button>
</form>




<%- include('../partials/footer.ejs') -%>