<%- include('../partials/header.ejs') -%>

<h1>Details for Flight # <%= flight.flightNo %></h1>


<h3>Airline: <%= flight.airline %> </h3>
<h3>Departure Airport: <%= flight.airport %> </h3>
<h3>Departure Date: <%= flight.departs.toLocaleDateString() %> </h3>


<container id='flight-destinations'>
    <h3>Flight Destinations:</h3>
<% if (flight.destinations.length) { %>
    <% console.log(flight) %> 
            <section>
             <h3>Airport</h3>
             <h3>Arrival Date</h3>
            </section>
            <% flight.destinations.forEach(arr => { %>
                <section>
                    <div><%= arr.airport %>  </div>
                    <div><%= arr.arrival.toLocaleString() %>  </div>
                </section>
           <% }); %> 
      
     <% } else { %>
        <p>No Destinations Listed</p>
    <% } %> 
     </container>


<h3>Existing Tickets:</h3>
<% if (tickets.length) { %>
<section>
    <h3>Seat #</h3>
    <h3>Price</h3>
</section> 
<% tickets.forEach(t => { %>
<section>
    <div><%=t.seat%></div>
    <div><%=t.price%><div>
</section>   
<% }) %>   
<% } else { %>
<h3>No tickets yet for this flight</h3>
    <% } %>

    
<a href='/flights/<%= flight._id%>/tickets/new' class='more-details'>Add a New Ticket</a>



<hr>
<% const airportOpts = ['AUS', 'DFW', 'DEN', 'LAX', 'SAN'] %>

<form action='/flights/<%= flight._id %>/arrivals' method='POST'>
    <h3>Add a Flight Destination</h3>
    <label>Airport:
        <select name='airport'>
            <option>--</option>
            <% airportOpts.forEach(airport => { %>
                <% if (flight.destinations.length) {
                    if (flight.destinations.some(dest => dest.airport === airport)) return; 
                    if (flight.airport === airport) return; }%> 
            <option value='<%= airport %>'><%-`${airport}`%></option> 
            <% }); %> 
        </select>
    </label>
    <label>Arrival Date:
        <input type='datetime-local' name='arrival' value='<%=new Date()%>'>
    </label>
    <button type='submit'>Add Destination</button>
</form>




<%- include('../partials/footer.ejs') -%>